[submodule "reflex"]
	path = reflex
	url = https://github.com/ryantrinkle/reflex
[submodule "reflex-dom"]
	path = reflex-dom
	url = https://github.com/ryantrinkle/reflex-dom
[submodule "reflex-todomvc"]
	path = reflex-todomvc
	url = https://github.com/ryantrinkle/reflex-todomvc
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/ryantrinkle/nixpkgs
